<?xml version="1.0"?>
<Settings>
  <URL>https://wd5-impl-services1.workday.com/ccx/service/!instance!/Payroll_Interface/v29.0</URL>
  <UserName>ISU User@tenant</UserName>
  <Password>ISU Password ! Will encrypt after first run</Password>
  <!-- Close Day or Open Day should be day of month to open or close period 
    Close Day of -1 will close the period the day after the current period ends
    Open Day -1 - open on the period the day the next period starts 
    Positive Day will take period date, substitute day in the date field and close or open on that day.  
      eg: Close Day of 28 for a period ending on 9/30/2017 will close the period on 9/28/2017
        Open Day of 2 for a period starting on 10/1/2017 will open the period on 10/2/2017
  -->
  <PayGroups>
    <PayGroup>
      <Name>Semi-Monthly - USA</Name>
      <ID>PG_USA</ID>
      <CloseDay>-1</CloseDay>
      <OpenDay>-1</OpenDay>
    </PayGroup>
  </PayGroups>
</Settings>